*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: rgb(222, 222, 222);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    width: 375px;
    height: 400px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    overflow-y: scroll;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
}

.container::-webkit-scrollbar{
    display: none;
}

.container form{
    width: 100%;
    border: 1px solid black ;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container form input{
    border: none;
    box-shadow: none;
    width: 100%;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
}

.container form i{
    padding: 10px;
}

.product{
    display:flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
}

.product img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
}
.list{
    padding: 20px 0;
}
.product .p-details{
    padding-left: 20px;
}

.product .p-details h2{
    font-size: 16px;
    color: black;
}

.product .p-details h3{
    font-size: 15px;
}